/* General stylesheet that links to all others */

/* Page structure and box layout */
.container {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
}

.cols {
    display: flex;
    flex-direction: column;
}

/* z-indexing */
.z1 { z-index: 1;}
.z2 { z-index: 2;}
.z3 { z-index: 3;}
.z4 { z-index: 4;}
.z5 { z-index: 5;}
.z6 { z-index: 6;}
.z7 { z-index: 7;}
.z8 { z-index: 8;}
.z9 { z-index: 9;}

.nodisplay { display: none;}

/* Stats */
.stat-box {
    border: 2px solid brown;
    outline: 2px solid white;
}

/* Player profile */
.player-box {
    display: flex;
    gap: 1rem;
    width: fit-content;
    position: relative;
    left: 1rem;
    top: 1rem;
}

img.player-image {
    width: 100%;
    min-width: 64px;
    image-rendering: crisp-edges;
}